<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOSO</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Lookatthis</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/doso">DOSO</a></li>
                <li><a href="/ctp">CTP</a></li>
                <li><a href="/weatherapp">WeatherApp</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="tool-container">
            <div class="tool-content">
                <img src="/images/ctp.png" alt="DOSO Screenshot">
                <div class="tool-details">
                    <h2>CTP</h2>
                    <p>CTP is a web application for training in the field of computer security in daily uses.<br></p>
                    <a href="http://example.com" class="tool-button">Visit CTP</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

