<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tools</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Lookatthis</h1>
        <nav>
            <ul>
                <li><a href="/">Home 🏠</a></li>
                <li><a href="/doso">DOSO 🌐</a></li>
                <li><a href="/ctp">CTP 📚</a></li>
                <li><a href="/weatherapp 🌦️">WeatherApp</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="home-container">
            <h2>Welcome to My Tools</h2>
            <p>Select a tool to explore:</p>
            <div class="tool-grid">
                <div class="tool-card">
                    <img src="/images/doso_icon.png" alt="DOSO Icon" class="tool-card-icon">
                    <h3>DOSO</h3>
                    <p>This tool retrieves open-source information for a domain.</p>
                    <a href="/doso" class="tool-card-button">Visit DOSO</a>
                </div>
                <div class="tool-card">
                    <img src="/images/ctp_icon.png" alt="CTP Icon" class="tool-card-icon">
                    <h3>CTP</h3>
                    <p>Quizzes on various cybersecurity subjects like phishing, password vulnerability, etc.</p>
                    <a href="/ctp" class="tool-card-button">Visit CTP</a>
                </div>
                <div class="tool-card">
                    <img src="/images/weatherapp_icon.png" alt="Weather App Icon" class="tool-card-icon">
                    <h3>Weather App</h3>
                    <p>Get weather information for any city.</p>
                    <a href="/weatherapp" class="tool-card-button">Visit Weather App</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
