<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOSO</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Lookatthis</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/doso">DOSO</a></li>
                <li><a href="/ctp">CTP</a></li>
                <li><a href="/weatherapp">WeatherApp</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="tool-container">
            <div class="tool-content">
                <img src="/images/weatherapp.png" alt="DOSO Screenshot">
                <div class="tool-details">
                    <h2>WeatherApp</h2>
                    <p>WeatherApp is a Java-based desktop application that provides real-time weather information. It
                        allows users to input a city name and retrieves the current weather conditions for that
                        location, including temperature, humidity, wind speed, and a general description of the weather.
                    </p>
                    <a href="https://github.com/neo-dl11/JavaWeatherApp" class="tool-button">Visit the git repo</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
