body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ccdcff;
    width: 100%;
}

.home-container {
    text-align: center;
    padding: 20px;
}

.tool-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tool-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 250px;
}

.tool-card-icon {
    width: 50px;
    height: 50px;
}

.tool-card h3 {
    margin-top: 10px;
    color: #333;
}

.tool-card p {
    color: #666;
}

.tool-card-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #0d47a1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.tool-card-button:hover {
    background-color: #0056b3;
}

.tool-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #0d47a1; /* Background color for visual clarity */
}

.tool-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.tool-container img {
    flex: 1;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}

.tool-container .tool-details {
    flex: 1;
    max-width: 50%;
}

.tool-container h2 {
    margin-top: 0;
}

.tool-screenshot {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tool-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px; /* Space between the button and the paragraph */
}

.tool-button:hover {
    background-color: #ddd;
}
